<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- If your app doesn't need to access media files that other apps created,
     set the "maxSdkVersion" attribute to "28" instead. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28" />

    <application
            android:name=".PininOrario"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="m">

        <activity
                android:name=".NewActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <meta-data
                android:name="firebase_crashlytics_collection_enabled"
                android:value="${crashlyticsCollectionEnabled}" />
        -->
        <activity
                android:name=".SettingsActivity"
                android:label="@string/title_activity_settings"
                android:parentActivityName=".NewActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ga.gabboxl.pininorario.NewActivity" />
        </activity>
        <activity
                android:name=".AboutActivity"
                android:label="@string/titolo_activity_about"
                android:parentActivityName=".NewActivity"
                android:theme="@style/AppTheme.MaterialAboutActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ga.gabboxl.pininorario.NewActivity" />
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>